/*section about me*/
.about-me{width: 258px; height: 428px;background: rgba(255, 191, 191, 1)}
.image{margin-top: 30px; margin-left: 28px}
.title1{color: white; margin-left: 154px; margin-bottom: 10px}
.text1{color: white;font-size: 14px;line-height: 15px; width: 218px;margin-left: 22px}